*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
/* border: 1px solid red; */
}

.body{
    width: 100%;
    /* border: pink 1px solid; */
    /* padding: 0 0 20px; */

    /* height: 100%; */
}

.main-header{
    display: flex;
    justify-content: space-between;
    height: 15%;
width: 100%;
/* flex: 1; */
 align-content: center;
 transition: 0.9s ease ;
 
}

.main-header li{
    color: black;
display: inline-block;
display: none;
/* padding: 0.5rem; */
text-transform: uppercase;
padding: 1.4rem;
}

.main-nav{

    align-self: baseline;
}

.main-nav a{
    color: black;
    visibility: collapse;
    height: 40%;
    transition: ease 0.9s; 
    text-decoration: none;
}

.main-nav a:hover{
    display: inline-block;
    transform: scale(1.5);
    color: black;
    border-bottom: 2px solid red;
    text-shadow: 1px 1px #1C1c1c;

}

.enquiryheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: solid 1px;
    background-color: black;
}

.enquiryleftsection{
    display: flex;
    align-content: center;
    
}

.enquiryleftsectionnav li{
display: inline-block;
padding-right: 1rem;
text-decoration: none;
align-items: center;

}

.enquiryleftsectionnav a{
    display: flex;
    padding-bottom: 20px;
text-decoration: none;
text-decoration-style: solid;
color: white;
}

.enquiryleftsectionnav a:hover{
    transform: scale(1.1);
    transition: ease 0.9s;
    color: red;
}

.enquirybutton{
    border: 2px solid red;
    padding: 5px;
    border-radius: 15px;
    color: white;
background-color: red;
text-align: center;
box-shadow: 2px 2px 3px darkgrey;
}

.enquirybutton a{
    text-decoration: none; 
    color: white;
    font-size: smaller;

    
}

.enquirybutton:hover{
    border: 2px solid darkslategrey;
    transition: linear 0.8s;
    background-color: darkslategrey;
}

.billboard1{
    /* border: 1px solid red; */
    background-color: #1C1c1c;
    color: white;
    text-align: center;
    padding: 2rem;
}

.billboard1 nav{
    font-size: xx-large;
}



.gridstyle{
    /* display: grid; */
    justify-content: center;
    grid-template-columns: auto;
    margin: 0px 0px auto;
    gap: 10px;
}

.firstgrid{
   
    /* background-color: aqua; */
    display: grid;
    width: 100% !important; 
    padding: 2rem;
  
}

.firstgridh1{

    color: red;
    text-align: center;
    text-shadow: 2px 2px #1C1c1c;
}

/* .problemchild{
    width: 100%;
} */

.secondgrid{
    padding: 1.5rem;
    /* border-left: darkgrey 2px solid;
    border-style: dotted; */
    border-bottom: none;
    border-top: none;
    border-right: none;
    
    /* background-color: gold; */
}

.secondgrid h1{
    color: #1C1c1c;
    text-align: center;
    text-shadow: 2px 2px red;
}

.more{
    padding: 10px;
    text-decoration: underline dotted;
}

.subgrid{
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 5%; */
    gap: 10px;
    /* height: 5%; */
    padding: 1rem;
    align-content: center;
    
}

.coachsocials{
    background-color: transparent;
    display: flex;
    justify-items: center;
    position: relative;
    bottom: 18%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    
}

.coachsocials{
    filter:invert(1)
}

.coachsocials a:hover{
    transition: ease 0.9s;
    /* border: 1px solid snow; */
    text-align: center;
    overflow-x: hidden;
    border: 1px solid red;
    background-color: red;
    border-radius: 50px;
    filter:invert(1);
}

aside:hover{
    transition: ease 0.9s;
 filter: brightness(50%);
 .coachsocials >{
    
    filter: brightness(100%);
   opacity: 100%;
 }
}

.footballsection{
    width: 100%;
 background-color: grey;

 
}


.footballsection h1{
    color: #1C1c1c;
    text-align: center;
    text-shadow: 2px 2px red;
    padding: 2rem;

}

.footballsection p{
    color: white;
    text-align: center;
    padding: 2rem;
}

.footballsectiongrid{
    display: grid;
    grid-template-columns: auto;
    color: red;
    /* border: 1px blue solid; */
    /* gap: 5%; */
    padding: 2rem;
    
}

.footballsectiongrid h3{
    display: flex;
    position: relative;
    bottom: 20px;
    text-align: center;
    background-color: red;
    border: 1px red solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    color: white;

}

.footballsectiongrid a{
    text-decoration: none;
    width: 100%;
    
}


.footballsectiongrid h3{
    text-align: center;
} 

.footballsectiongrid p {
    color: white;
}


input{
    border: 1px solid white;
    border-bottom: 1px solid black;
}

input[type="button"]{
    background-color: red;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: red;
    border-right: 5px solid darkgrey;
    outline:#1C1c1c;
    border-bottom:2px solid black;
    border-top:1px solid black;
    box-shadow: 2px 2px 5px black;
}

input[type="button"]:hover{
    transition: 0.9 ease;
    background-color: black;
    color: white;

}



.overallheader{
display: flex; 
justify-content: center;
align-content: center;
width: 100%;
}


.contactus{
    color: white;
    background-color: black;
    text-shadow: 1px 1px red;
    padding: 2rem;
    padding-bottom: none;
}

/* .contactuslogo{ 
    display: flex;
position: relative;
top: 10%;
} */

footer{
    margin-top: 3rem;
    background-color: #222;
}

footer > div{
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
    padding: 3rem 0;
}

.footer2{
    padding-bottom: 15px;
}

.footer2 p{
font-size: 17px; 
word-spacing: 4px;
letter-spacing: 1px;
color: #888;
text-transform: uppercase;
}

.footer2 a{
    color: red;
    text-decoration: none; 
    text-transform: uppercase;
}

.footer2 a:hover{
    color: white;
}

.space{
    background-color: white;
    height:5px;
}
@media only screen and (min-width: 820px){

    .main-header li{
    
        display: inline-block;
        /* padding: 0.5rem; */
        text-transform: uppercase;
        padding: 1.4rem;
        }

        .main-nav a{
        visibility: visible;
            height: 40%;
            transition: ease 0.9s; 
            text-decoration: none;
        }

        .gridstyle{
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto auto;
            margin: 0px 0px auto;
            gap: 10px;
        }

        
.subgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 5%; */
    gap: 10px;
    /* height: 5%; */
    padding: 1rem;
    align-content: center;
    
}


.footballsectiongrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: red;
    /* border: 1px blue solid; */
    gap: 5%;
    padding: 2rem;
    
}

.secondgrid{
    padding: 1.5rem;
    border-left: darkgrey 2px solid;
    border-style: dotted;
    border-bottom: none;
    border-top: none;
    border-right: none;
    
    /* background-color: gold; */
}

}